.NavBar {
    display: flex;
    justify-content: space-between;


    .navigation {
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            
            li {
                margin: 0 10px;
                padding-top: 3rem;
                padding-right: 3rem;
                font-size: 1.5rem;
                color: $colorBlack;

                :hover{
                    color: $colorOrange;
                }

            }
        }
    }

    .logo {
        background: url(../../../public/images/logo2.png);
        width: 200px;
        height: 100px;
        background-size: cover;
        background-position: center;
    }
}